USE [CuentasCtes]
GO
/****** Object:  Table [dbo].[Beneficiarios]    Script Date: 09/03/2026 10:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beneficiarios](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Rut_Beneficiario] [numeric](18, 0) NULL,
	[Dv_Beneficiario] [nchar](1) NULL,
	[Rut_Titular] [numeric](18, 0) NULL,
	[Dv_Titular] [nvarchar](1) NULL,
	[Beneficiario] [nvarchar](39) NULL,
	[Cta_OtBanco] [nvarchar](15) NULL,
	[Tipo_Cuenta] [numeric](18, 0) NULL,
	[Cod_Banco] [numeric](18, 0) NULL,
	[Cta_Estado] [nchar](11) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RetenidoJudicial]    Script Date: 09/03/2026 10:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RetenidoJudicial](
	[id] [int] NULL,
	[rut_titular] [float] NULL,
	[Dv_titula] [nchar](1) NULL,
	[Rut_B] [float] NULL,
	[Dv_B] [nchar](1) NULL,
	[Monto] [float] NULL
) ON [PRIMARY]
GO


--- consulta -----
SELECT        dbo.Beneficiarios.Rut_Beneficiario, dbo.Beneficiarios.Dv_Beneficiario, dbo.Beneficiarios.Beneficiario, dbo.Beneficiarios.Cta_OtBanco, dbo.Beneficiarios.Tipo_Cuenta, dbo.Beneficiarios.Cod_Banco, 
                         dbo.Beneficiarios.Cta_Estado, dbo.RetenidoJudicial.Monto, dbo.RetenidoJudicial.id
FROM            dbo.Beneficiarios RIGHT OUTER JOIN
                         dbo.RetenidoJudicial ON dbo.Beneficiarios.Rut_Beneficiario = dbo.RetenidoJudicial.Rut_B
--- codigo para generar txt


NomArch = "c:\genera\Liquido.txt"
Contl = 0
Monto_Total = 0
Open NomArch For Output As #1
Dato = "106110104519640100572" + Space(11) + Format(Date, "yyyymmdd") + Format(Date, "yyyymmdd") + Format(Now, "hhmmss") + Space(75)
Print #1, Dato



Sql = "SELECT dbo.Beneficiarios.Rut_Beneficiario, dbo.Beneficiarios.Dv_Beneficiario, dbo.Beneficiarios.Beneficiario, dbo.Beneficiarios.Cta_OtBanco, dbo.Beneficiarios.Tipo_Cuenta, dbo.Beneficiarios.Cod_Banco,dbo.Beneficiarios.Cta_Estado , dbo.RetenidoJudicial.Monto,dbo.retenidojudicial.id FROM   dbo.Beneficiarios RIGHT OUTER JOIN"
Sql = Sql & " dbo.RetenidoJudicial ON dbo.Beneficiarios.Rut_Beneficiario = dbo.RetenidoJudicial.Rut_B"
RsConsulta.Open (Sql), mcnCuentas, adOpenKeyset, adLockOptimistic
If Not RsConsulta.EOF Then

    While Not RsConsulta.EOF
    Me.Caption = Contl
        If Not IsNull(RsConsulta!Rut_beneficiario) Then
        
            Dato1 = "2"
            Dato1 = Dato1 & Format(RsConsulta!Rut_beneficiario, "000000000")
            Dato1 = Dato1 & Largo_fijo(RsConsulta!Dv_BENEFiciario, 1)
            Dato1 = Dato1 & Largo_fijo(RsConsulta!beneficiario, 39)
            Dato1 = Dato1 & "*"
            If RsConsulta!Cod_Banco = 12 Then ' si la cta es banco estado
                Dato1 = Dato1 & Largo_fijo("", 1)
                Dato1 = Dato1 & Largo_fijo1("", 15)
            Else
                Dato1 = Dato1 & Largo_fijo("=", 1)
                Dato1 = Dato1 & Largo_fijo1((RsConsulta!Cta_otbanco), 15)
            End If
            Dato1 = Dato1 & "00000000000"
            Dato1 = Dato1 & Format(RsConsulta!TIPO_CUENTa, "00")
            If RsConsulta!Cod_Banco = 12 Then 'si la cta es banco estado
                Dato1 = Dato1 & Format(RsConsulta!Cod_Banco, "000")
                Dato1 = Dato1 & Format(RsConsulta!Cta_estado, "00000000000")
            Else
                Dato1 = Dato1 & Format(RsConsulta!Cod_Banco, "000")
                Dato1 = Dato1 & "00000000000"
            End If
            Dato1 = Dato1 & Format(RsConsulta!monto, "00000000000")
            Dato1 = Dato1 & "00" 'decimales
            Dato1 = Dato1 & "0000000000"
            Dato1 = Dato1 & "00000000000"
            Dato1 = Dato1 & Largo_fijo(" ", 2)
            Print #1, Dato1
            Monto_Total = Monto_Total + RsConsulta!monto
            Contl = Contl + 1
        Else
            MsgBox "El beneficiario rut  " & RsConsulta!Id & "-" & RsConsulta!Rut_beneficiario & "-" & RsConsulta!Dv_BENEFiciario + vbCrLf + "Quedara excluido del deposito por tener el nº de cuenta vacio o erroneo", vbExclamation

        End If

        RsConsulta.MoveNext
    Wend
Else
End If
MsgBox "El monto del deposito es de $ " & Format(Monto_Total, "##,#0") + vbCrLf + "El Nº de registros es de " & Format(Contl, "##,#0"), vbInformation
Print #1, "3" & Format(Monto_Total, "0000000000000") & "00" & Format(Contl, "00000") & Space(109)
Close #1
RsConsulta.Close
Set RsConsulta = Nothing
Screen.MousePointer = vbDefault


